include README.md

include *.txt
include tox-integration.ini
include tox.ini
recursive-include integration_tests *.py
recursive-include tests *.py

recursive-exclude * *.enc
recursive-exclude * *.py[co]
recursive-exclude * __pycache__
